<section>
  <%= tag.h5 pet.name, class: "" %>
  <div>
    <%= tag.span pet.gender, class: "" %>
    |
    <%= tag.span pet.animal, class: "" %>
    | hunger:
    <%= tag.span pet.hunger, class: "" %>
    | age:
    <%= tag.span pet.age, class: "" %>
    | personality:
    <%= tag.span pet.personality, class: "" %>
    | catch phrase:
    <%= tag.span pet.phrase, class: "" %>
    | level:
    <%= tag.span pet.level, class: "" %>
    | nft id:
    <%= link_to pet.nft_id,
    "https://sepolia.shapescan.xyz/token/#{ENV["NFT"]}/instance/#{pet.nft_id}",
    target: "_blank",
    rel: "noopener" %>
  </div>

  <%= link_to "Chat with pet", pet_chat_path(pet, pet.chat) %>
  <hr>
</section>
