<section>
  <%= tag.h5 pet.name, class: "" %>
  <div>
    <%= tag.span pet.gender, class: "" %>
    |
    <%= tag.span pet.animal, class: "" %>
    | hunger:
    <%= tag.span pet.hunger, class: "" %>
    | age:
    <%= tag.span pet.age, class: "" %>
    | personality:
    <%= tag.span pet.personality, class: "" %>
    | catch phrase:
    <%= tag.span pet.phrase, class: "" %>
    | level:
    <%= tag.span pet.level, class: "" %>
    | nft id:
    <%= tag.span pet.nft_id, class: "" %>
  </div>
  <%= link_to "Chat with pet", pet_chat_path(pet, pet.chat) %>
  ||
  <%= link_to "Check pet", "#" %>
  <hr>
</section>
