<details open>
  <summary>Pending Transactions</summary>
  <%= turbo_stream_from :pending_transactions %>
  <section id="pending_transactions_container">
  </section>
</details>

<%= turbo_stream_from :pets %>
<h1>Pets |
  <em id="pets_counter"><%= @pets.size %></em>
</h1>

<p>Pending Pets -
  <em id="pets_pending_counter"><%= @pending_amount %></em></p>

<br>
<%= link_to "Create Virtual Pet", new_pet_path %>

<hr>

<%= turbo_stream_from :user_pets %>
<div id="<%= dom_id(Current.user,"pets") %>">
  <% @pets.each do |pet| %>
    <%= render pet %>
  <% end %>
</div>
