<h1>Create Pet</h1>

<div data-controller="metamask">
  <div data-metamask-target="content">
    <%= form_with model: [ @pet ] do |f| %>

      <% if @pet.errors.any? %>
        <% @pet.errors.each do |error| %>
          <%= tag.p error.full_message %>
        <% end %>
      <% end %>

      <%= f.hidden_field "metamask[address]",
                     name: "metamask[address]",
                     "data-metamask-target": "form" %>

      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </fieldset>

      <fieldset>
        <%= f.label :gender %>
        <%= f.select :gender,
                 options_for_select(Pet.genders.map { |k, v| [k.capitalize, k] }),
                 { prompt: "Select gender" } %>
      </fieldset>

      <fieldset>
        <%= f.label :personality %>
        <%= f.select :personality,
                 options_for_select(Pet.personalities.map { |k, v| [k.capitalize, k] }),
                 { prompt: "Select personality" } %>
      </fieldset>

      <fieldset>
        <%= f.label :animal %>
        <%= f.select :animal,
                 options_for_select(Pet.animals.map { |k, v| [k.capitalize, k] }),
                 { prompt: "Select type" } %>
      </fieldset>

      <fieldset data-controller="generate">
        <%= f.label :phrase %>
        <%= f.text_field :phrase,
                     readonly: true,
                     "data-generate-target": "phrase",
                     size: "30" %>
        <button type="button" data-action="click->generate#phraseGenerate">Generate</button>
      </fieldset>

      <br>
      <%= f.submit %>
    <% end %>
  </div>

  <div data-metamask-target="login" class="hidden">
  </div>
</div>
